@charset "UTF-8";
.propz-container-div {
  /* Slider */
}
.propz-container-div .mz-propz-signup-container {
  display: flex;
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-left, .propz-container-div .mz-propz-signup-container .mz-propz-signup-right {
  flex-basis: 100%;
}
@media screen and (max-width: 622px) {
  .propz-container-div .mz-propz-signup-container {
    flex-wrap: wrap;
  }
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-left .mz-propz-text-container {
  max-width: 80%;
  text-align: center;
  color: #3f3f40;
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-left .mz-propz-text-container .mz-propz-header {
  font-size: 36px;
  font-weight: bold;
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-left .mz-propz-text-container .mz-propz-body {
  font-size: 16px;
  margin: 24px 0;
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-left .mz-propz-text-container button {
  margin-bottom: 24px;
}
.propz-container-div .mz-propz-signup-container .mz-propz-signup-right img {
  object-fit: cover;
}
.propz-container-div .mz-propz-shelf-slick {
  max-width: 100%;
  margin-left: 3%;
  margin-right: 3%;
  visibility: none;
}
.propz-container-div .mz-propz-shelf-slick .slick-initialized {
  visibility: visible;
}
.propz-container-div .mz-propz-shelf img {
  min-height: 200px;
}
@media screen and (max-width: 622px) {
  .propz-container-div .mz-propz-login-skeleton {
    flex-wrap: wrap;
  }
}
.propz-container-div .mz-propz-skeleton-container, .propz-container-div .mz-propz-login-skeleton {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-right: 3%;
  overflow: hidden;
}
.propz-container-div .mz-propz-skeleton-container .mz-propz-shelf-skeleton, .propz-container-div .mz-propz-login-skeleton .mz-propz-shelf-skeleton {
  position: relative;
  flex-basis: 20%;
  margin: 0 8px;
  height: 486px;
  background-color: #e2e2e2;
  border-radius: 8px;
}
@media screen and (max-width: 1024px) {
  .propz-container-div .mz-propz-skeleton-container .mz-propz-shelf-skeleton, .propz-container-div .mz-propz-login-skeleton .mz-propz-shelf-skeleton {
    flex-basis: 25%;
  }
  .propz-container-div .mz-propz-skeleton-container .mz-propz-shelf-skeleton:nth-child(n+5), .propz-container-div .mz-propz-login-skeleton .mz-propz-shelf-skeleton:nth-child(n+5) {
    display: none;
  }
}
@media screen and (max-width: 622px) {
  .propz-container-div .mz-propz-skeleton-container .mz-propz-shelf-skeleton, .propz-container-div .mz-propz-login-skeleton .mz-propz-shelf-skeleton {
    flex-basis: 100%;
  }
  .propz-container-div .mz-propz-skeleton-container .mz-propz-shelf-skeleton:nth-child(n+2), .propz-container-div .mz-propz-login-skeleton .mz-propz-shelf-skeleton:nth-child(n+2) {
    display: none;
  }
}
.propz-container-div .mz-propz-skeleton-container .mz-propz-shelf-skeleton::after, .propz-container-div .mz-propz-login-skeleton .mz-propz-shelf-skeleton::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  /* Adding animation */
  animation: loading 1s infinite;
  -webkit-animation: loading 1s infinite;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left, .propz-container-div .mz-propz-skeleton-container .skeleton-right, .propz-container-div .mz-propz-login-skeleton .skeleton-left, .propz-container-div .mz-propz-login-skeleton .skeleton-right {
  height: 321px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left::after, .propz-container-div .mz-propz-skeleton-container .skeleton-right::after, .propz-container-div .mz-propz-login-skeleton .skeleton-left::after, .propz-container-div .mz-propz-login-skeleton .skeleton-right::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(rgba(255, 255, 255, 0.2)), to(transparent));
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
  /* Adding animation */
  animation: loading 1s infinite;
  -webkit-animation: loading 1s infinite;
  animation: loading 1s infinite;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-text-container, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-text-container, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-text-container, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-text-container {
  max-width: 80%;
  width: 100%;
  text-align: center;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-header, .propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-body, .propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-button, .propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-image, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-header, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-body, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-button, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-image, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-header, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-body, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-button, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-image, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-header, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-body, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-button, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-image {
  background-color: #e2e2e2;
  border-radius: 8px;
  overflow: hidden;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-header, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-header, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-header, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-header {
  width: 90%;
  height: 36px;
  margin: 0 auto;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-body, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-body, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-body, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-body {
  width: 100%;
  height: 16px;
  margin: 24px auto 24px auto;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-button, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-button, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-button, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-button {
  width: 215px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 24px;
}
.propz-container-div .mz-propz-skeleton-container .skeleton-left .skeleton-image, .propz-container-div .mz-propz-skeleton-container .skeleton-right .skeleton-image, .propz-container-div .mz-propz-login-skeleton .skeleton-left .skeleton-image, .propz-container-div .mz-propz-login-skeleton .skeleton-right .skeleton-image {
  border-radius: 0;
  width: 100%;
  height: 100%;
}
.propz-container-div .mz-propz-product-name h1 {
  height: 70px;
  line-height: 18px;
}
.propz-container-div .mz-propz-product-name h1 a {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #3f3f40;
  text-decoration: none;
}
.propz-container-div .mz-propz-price-div {
  padding: 32px 0 16px 0;
}
.propz-container-div .mz-propz-activate-promo, .propz-container-div .mz-propz-button {
  color: white;
}
.propz-container-div .mz-propz-activate-promo button, .propz-container-div .mz-propz-button button {
  height: 40px;
  width: 100%;
  padding: 4px 24px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #0f3e99;
  border-width: 0;
}
.propz-container-div .mz-propz-activate-promo button:hover, .propz-container-div .mz-propz-activate-promo button:active, .propz-container-div .mz-propz-button button:hover, .propz-container-div .mz-propz-button button:active {
  background-color: #072c75;
}
.propz-container-div .mz-propz-activate-promo button:disabled, .propz-container-div .mz-propz-button button:disabled {
  background-color: #eef3f7;
  color: #0f3e99;
}
.propz-container-div .mz-propz-activate-promo button .mz-propz-btn-loading, .propz-container-div .mz-propz-button button .mz-propz-btn-loading {
  margin: 0 auto;
  border: 4px solid #eef3f7;
  border-radius: 50%;
  border-top: 4px solid #0f3e99;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
}
.propz-container-div .mz-propz-button {
  margin-top: 8px;
}
.propz-container-div .mz-propz-activate-promo.active {
  color: #0f3e99;
}
.propz-container-div .mz-propz-activate-promo.active button {
  background-color: #eef3f7;
  border-width: 0;
}
.propz-container-div .mz-propz-list-price {
  text-align: center;
}
.propz-container-div .mz-propz-list-price span {
  color: #979899;
  font-size: 14px;
  text-decoration: line-through;
}
.propz-container-div .mz-propz-selling-price {
  text-align: center;
}
.propz-container-div .mz-propz-selling-price span {
  font-size: 16px;
}
.propz-container-div .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.propz-container-div .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.propz-container-div .slick-list:focus {
  outline: none;
}
.propz-container-div .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.propz-container-div .slick-slider .slick-track,
.propz-container-div .slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.propz-container-div .slick-track {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.propz-container-div .slick-track:before,
.propz-container-div .slick-track:after {
  display: table;
  content: "";
}
.propz-container-div .slick-track:after {
  clear: both;
}
.propz-container-div .slick-loading .slick-track {
  visibility: hidden;
}
.propz-container-div .slick-slide {
  display: none;
  float: left;
  margin: 0 8px;
  height: 100%;
  min-height: 1px;
}
.propz-container-div [dir=rtl] .slick-slide {
  float: right;
}
.propz-container-div .slick-slide img {
  display: block;
}
.propz-container-div .slick-slide.slick-loading img {
  display: none;
}
.propz-container-div .slick-slide.dragging img {
  pointer-events: none;
}
.propz-container-div .slick-initialized .slick-slide {
  display: block;
}
.propz-container-div .slick-loading .slick-slide {
  visibility: hidden;
}
.propz-container-div .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.propz-container-div .slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[dir=rtl] .slick-prev {
  left: auto;
}

.slick-prev {
  left: -15px;
}

.slick-prev:before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  transform: rotate(45deg);
}

[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -20px;
}

[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}

.slick-next:before {
  content: "";
  width: 15px;
  height: 15px;
  display: block;
  border-bottom: 2px solid #666;
  border-left: 2px solid #666;
  transform: rotate(225deg);
}

[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 60px;
}

.slick-dots {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10px;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-size: 40px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #f71963;
}

@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}